[Unit]
Description=Streamer Router

[Service]
Type=simple
User=root
ExecStart=/usr/local/syna/bin/streamer_router.sh
Restart=always

[Install]
WantedBy=multi-user.target
